/* Reset and Font */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #0f172a;
    color: #f1f5f9;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Editor Section */
.editor-section {
    flex-grow: 1;
    background-color: rgba(15, 23, 42, 0.8);
    border-top: 8px solid #2563eb;
    padding: 20px;
}

/* Textarea */
textarea {
    width: 100%;
    height: calc(100% - 40px);
    border: none;
    background-color: rgba(24, 30, 46, 1);
    color: #f1f5f9;
    font-family: 'Roboto', Arial, sans-serif;
    padding: 20px;
    font-size: 1.2em;
    box-sizing: border-box;
    border-radius: 8px;
}

/* Run Button */
#run-button {
    padding: 20px;
    background-color: #2563eb;
    color: #f1f5f9;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-top: 8px solid #1e293b;
    transition: background-color 0.3s ease;
}

#run-button:hover {
    background-color: #60a5fa;
}

/* Fullscreen Mode */
.fullscreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: center;
    color: #f1f5f9;
    z-index: 1000;
}

.fullscreen.active {
    display: flex;
}

.fullscreen .close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
}

/* Iframe Styling */
iframe {
    width: 100%;
    height: 100%;
    border: 8px solid #2563eb;
    box-shadow: 10px 10px 0px #1e293b;
    border-radius: 8px;
}

