.logo img {
    height: 40px;
    transition: transform 0.3s ease;
}

.navbar {
    display: flex;
    gap: 15px; 
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar li a:hover {
    transform: scale(1.05);
    color: #1e90ff;
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #1e90ff;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.error-container {

    background: rgba(0, 0, 0, 0.8);

    border: 3px solid #fff;

    border-radius: 10px;

    padding: 2rem;

    color: #00ff7f;

}

.error-container h1 {

    font-size: 4rem;

    margin-bottom: 1rem;

    color: #ffcc00;

    text-shadow: 2px 2px 0px #000;

}

.error-container p {

    margin-bottom: 1.5rem;

    font-size: 1.2rem;

}

.error-container a {

    text-decoration: none;

    color: #ff69b4;
