    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    border: 3px solid #fff;

    border-radius: 10px;

    text-align: center;

    color: #00ff7f;

}

.error-container h1 {

    font-size: 4rem;

    margin-bottom: 1rem;

    color: #ffcc00;

    text-shadow: 2px 2px 0px #000;

}

.error-container p {

    margin-bottom: 1.5rem;

    font-size: 1.2rem;

}

.error-container a {

    text-decoration: none;

    color: #ff69b4;

    font-weight: bold;
